@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button{
  cursor: pointer;
}

.terminal:focus::after {
  content: "";
  display: inline-block;
  width: 1ch;
  height: 1.2em;
  background-color: currentColor;
  animation: blink 1s step-start infinite;
  vertical-align: text-top; /* Lift it above the baseline */
  margin-left: 2px; /* Optional: add a little space if it looks cramped */
}


@keyframes blink {
  50% {
    background-color: transparent;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
}
